.container{
  
  position: absolute;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 11% 40%;
  width: 21%;
  font-size: 2rem;
  bottom: 69px;
  background-color: antiquewhite;
  padding: 37px 34px;
}
.title{
  text-align: center;
   text-decoration: underline;
   color: rgb(202, 134, 50);
   text-shadow: 3px 2px rgb(129, 99, 15);
}
.form{
  justify-content: center;
  width:35px;
  margin:15px 67px;
}

.btn-submit{
  color: rgb(24, 18, 9);
  background-color: rgb(196, 141, 59) ;
  margin-left: 60px;
  border: 1px solid rgb(196, 141, 59);
  padding: 2px 5px;
  cursor: pointer;
}
.btn-submit:hover{
  color: rgb(24, 18, 9);
  background-color: rgb(180, 119, 29) ;
  margin-left: 60px;
  border: 1px solid rgb(196, 141, 59);
  padding: 2px 2px;
}
.list{
  
  font-size: 1rem;
  font-style: italic;
  
 
  padding: 7px 72px;
  margin: 5px 6px;
}
.rem-btn{
  font-size: 1rem;
  margin: 2px 2px;
  padding: -1px 6px;
  background-color:antiquewhite ;
  border: none;
  outline: none;
  font-weight: bolder;
  cursor: pointer;
}
.rem-btn:hover{
  font-size: 1rem;
  margin: 2px 2px;
  padding: -1px 6px;
  background-color:rgb(240, 194, 135) ;
  border: none;
  outline: none;
  font-weight: bolder;
  cursor: pointer;
}
